<section class="task-list-container">
  <div class="task-list-header">
    <h3 class="title">Your tasks</h3>
    @if(isNewTask) {
    <button (click)="hideTask()" class="hide-button">Clear</button>
    } @else {
    <button (click)="newTask()" class="add-button">Add Task</button>
    }
  </div>

  @if(isNewTask) {
  <div class="new-task">
    <div class="task-element">
      <label>Name: </label>
      <input
        type="text"
        placeholder="Enter task name"
        [(ngModel)]="task.name"
      />
    </div>
    <div class="task-element">
      <label>Description: </label>
      <input
        type="text"
        placeholder="Enter task description"
        [(ngModel)]="task.description"
      />
    </div>
    <div class="add-button">
      <button (click)="createTask()" [disabled]="!task.name">
        Create task
      </button>
    </div>
  </div>
  }

  <div class="task-list">
    @for (task of tasks; track $index) {
    <app-task-item
      [task]="task"
      (deleteTaskEvent)="handleDeleteTask(task)"
      (editTaskEvent)="handleEditTask(task)"
    ></app-task-item>
    }
  </div>
</section>
